.contact-info-box {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/947336408524450974/A7A313D9A5C13DC2F41D2BFCFF136FABE50AB205/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false); /* Box abu-abu gelap */  
    border: 3px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 3.2;
  }
  
  .contact-info-box strong {
    color: #ffff;
    font-weight: 600;
  }
  
  .contact-info-box p {
    margin: 5px 4px;
    color: #fff;
  }
  